.bg-accent {
  background-color: var(--accent-color) !important;
  color: var(--white-color);
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
  color: var(--text-color);
}

.bg-secondary-2 {
  background-color: var(--secondary-color-2) !important;
  color: var(--white-color);
}

.bg-gray {
  background-color: var(--gray-color) !important;
  color: var(--black-color);
}

.bg-info {
  background-color: var(--info-color) !important;
  color: var(--white-color);
}

.bg-success {
  background-color: var(--success-color) !important;
  color: var(--white-color);
}

.bg-error {
  background-color: var(--error-color) !important;
  color: var(--white-color);
}

.bg-warning {
  background-color: var(--warning-color) !important;
  color: var(--white-color);
}

.bg-danger {
  background-color: var(--danger-color) !important;
  color: var(--white-color);
}

.bg-white {
  background-color: var(--white-color) !important;
  color: var(--text-color);
}

.bg-dull-white {
  background-color: var(--dull-white-color) !important;
  color: var(--text-color) !important;
}

.bg-dark {
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
}

.bg-sublime{
  background-color: var(--sublime-color) !important;
  color: var(--text-color);
}

.bg-transparent{
  background-color: transparent !important;
  color: var(--text-color) !important;
}
