.label {
  display: inline-block;
  font-size: var(--label-font-size);
  font-weight: 700;
  letter-spacing: .5px;
  color: var(--button-color);
  padding: 3px 7px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  z-index: 14;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
  min-width: var(--font-size);
  min-height: var(--font-size);
}

.label:not([class*='label-']) {
  background: var(--primary-color);
}

.label.label--inline {
  position: relative;
  top: 0;
  right: 0;
}

.label.label--inline:not(:last-child) {
  margin-right: 0.92857143em;
}

.label.label--inline+span,
.label.label--inline+p {
  position: relative;
  top: 1px;
}

.label.switchable-toggle {
  left: 50%;
  right: auto;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}

.label-primary {
  background: var(--primary-color);
}

.label-info {
  background: var(--info-color);
}

.label-secondary {
  background: var(--secondary-color);
  color: #333;
}

.label-success {
  background: var(--success-color);
}

.label-error {
  background: var(--error-color);
}

.label-warning {
  background: var(--warning-color);
}

.label-danger {
  background: var(--danger-color);
}

.box .label-left {
  top: -.5em;
  /* left: -1.23809524em; */
  left: -.5em;
  float: left;
  position: absolute;
}

.box .label-right {
  top: -.5em;
  /* right: -1.23809524em; */
  right: -.5em;
  float: right;
  position: absolute;
}

.badge-left {
  top: -.5em;
  /* left: -1.23809524em; */
  left: -.5em;
  float: left;
  position: absolute;
}

.badge-right {
  top: -.5em;
  /* right: -1.23809524em; */
  right: -.5em;
  float: right;
  position: absolute;
}

.badge {
  border-radius: 10px;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 14;
  box-shadow: var(--shadow-sm);
}

.badge i {
  vertical-align: middle;
}
