.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 123, 255, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 20;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper .modal {
  position: relative;
  min-width: 350px;
  width: 50%;
  /* height: 400px; */
  min-height: 350px;
  max-height: 90vh;
  display: block;
  margin: 50% 0 0 -300px;
  margin: 0px auto;
  /* top: 50%; */
  /* left: 50%; */
  background: var(--white-color);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-shadow: var(--shadow-md);
  z-index: 25;
}

.modal-wrapper .modal.modal-top {
  top: 30% !important;
}

.modal-wrapper .modal.modal-rounded {
  border-radius: var(--border-radius-xl);
}

.modal-wrapper .modal.modal-rounded .head {
  border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
}

.modal-wrapper .modal.modal-xs {
  width: 20% !important;
}

.modal-wrapper .modal.modal-sm {
  width: 30% !important;
}

.modal-wrapper .modal.modal-md {
  width: 50% !important;
}

.modal-wrapper .modal.modal-lg {
  width: 90% !important;
}

.modal-wrapper.open .modal {
  /* margin-top: -200px; */
  opacity: 1;
}

.modal-wrapper .modal .head {
  width: 100%;
  min-height: 40px;
  padding: 1.5em 5%;
  overflow: hidden;
  background: var(--primary-color);
}

.modal-wrapper .modal .head .title {
  text-transform: none;
  color: var(--white-color);
  max-width: 80%;
  float: left;
  font-family: "Monaco";
  font-size: 1.3em;
}

.modal-wrapper .modal .btn-close {
  width: 32px;
  height: 32px;
  width: 25px;
  height: 25px;
  display: block;
  float: right;
}

.modal-wrapper .modal .btn-close::before,
.modal-wrapper .modal .btn-close::after {
  content: '';
  /* width: 32px; */
  width: 25px;
  height: 6px;
  display: block;
  background: #fff;
}

.modal-wrapper .modal .btn-close::before {
  margin-top: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-wrapper .modal .btn-close::after {
  margin-top: -6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-wrapper .modal .content {
  padding: 5%;
  position: relative;
  overflow: auto;
  max-height: 80vh;
}

.modal-wrapper .modal .footer {
  padding: 5%;
  border-top: 1px solid var(--gray-color);
}

@media (max-width:44em) {
  /* .modal-wrapper .modal {
    top: 30%;
  }

  .modal-wrapper .modal.modal-lg {
    top: 15%;
    top: 50%;
  } */
}
